<div class="card border-primary p-5 m-2">
  <div class="d-flex align-items-center">
  <h1 class="p-0">New Article</h1>
    <%= link_to 'Cancel', categories_path, class: 'btn btn-danger m-2' %>
  </div>
  <%= render 'form', article: @article %>
 </div>
 <div class="row justify-content-center"><%= link_to 'Create New Category', new_category_path, class: 'btn btn-primary m-2' %></div>
