$theme-colors: (
        "primary": #fd6000
);

$font-family-sans-serif:      Chivo, Lato, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

.navbar-brand{
  color:#4e443e;
  font-weight: bolder;
}
.nav-link{
  font-family: Lato;
  font-weight: bold;
  text-transform: uppercase;
  color: #847f7b;
}

.active .nav-link{
  text-transform: uppercase;
  color: #fd6000;
}