<div class="featured-container row">
  <div class="col-lg-9 p-0 m-0">
    <%= render 'featured_parts', article: Article.most_voted %>
  </div>
  <div class="col-lg-3 p-0 m-0">
    <%= render 'featured_parts', article: Article.last %>
  </div>
</div>