<div class="col-lg-4 offset-lg-4 text-center">
  <div class="card m-lg-5 m-md-1 p-lg-5 p-md-1 border-primary">
    <h1 class="h3 mb-3 font-weight-normal">Editing Category</h1>
    <%= render 'form', category: @category %>
    <%= link_to 'Destroy', @category, method: :delete, class: 'btn btn-danger mt-2', data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', :back, class:'btn btn-primary mt-2' %>
  </div>
</div>