<div class="col-lg-4 offset-lg-4 text-center">
  <div class="card m-lg-5 m-md-1 p-lg-5 p-md-1 border-primary">
    <h1 class="h3 mb-3 font-weight-normal">Create a new category</h1>
<%= render 'form', category: @category %>

  </div>
</div>