<footer class="justify-content-between container-fluid bg-brown border-top">
  <div class="row p-3 align-items-center">

    <div class="col-12 col-md-4 text-center text-md-left">
      <%= link_to root_path, class: 'text-light' do %>
        Programming Articles<i class="fas fa-code ml-1"></i>
      <% end %>
    </div>

    <div class="col-12 col-md-4 text-center align-items-center">
      <p class="text-white m-0">
        Design inspired from <a href='https://www.behance.net/sakwadesignstudio'>Nelson Sakwa</a>
      </p>
    </div>

    <div class="col-12 col-md-4 social-links text-md-right text-center">
      <a href='https://github.com/sinansevgi'><i class="fab fa-github"></i></a>
      <a href='https://twitter.com/nativeofcybers1'><i class='fab fa-twitter'></i></a>
      <a href='mailto:sinan@sinansevgi.net'><i class='fas fa-at'></i></a>
      <a href='https://www.linkedin.com/in/sinansevgi/'><i class='fab fa-linkedin'></i></a>
    </div>

  </div>
</footer>
