<footer class="bg-brown justify-content-between container-fluid">
  <div class="row px-5">

    <div class="col-12 col-md-4">
      <%= link_to root_path, class: 'text-light' do %>
        Programming Articles<i class="fas fa-code ml-1"></i>
      <% end %>
    </div>

    <div class="col-12 col-md-4 text-center">
      <p class="text-white">
        Copyright 2021. All rights reserved
      </p>
    </div>

    <div class="col-12 col-md-4">

    </div>

  </div>
</footer>
